*.log
*.pyc
#*.mo
*.sublime-project
*.sublime-workspace
*.tar.gz
logs
stunnel
node_modules
*.sass-cache
bower_components
certs
cms_cache
.idea/
src/settings_local.py
docs/index.html
__pycache__

/static
/media
/tests
*.pid
*.sock
*.swp

/packaging/dist/

.DS_Store
.cache
.vscode
/.venv*/
/venv*/

dbdata

.python-version
